<header class="site-header">

  <div class="wrapper">
    <div class="following bar">
      <nav class="ui container">
        <div class="ui large secondary menu">
          <div class="item">
            <div class="ui logo shape">
              <div class="sides">
                <div class="active ui side">
                  <img src="{{site.url}}/assets/NK-Logo-Small.png" alt="Nick Kenens" class="ui image">
                </div>
              </div>
            </div>
          </div>
          <div class="right menu">
            <a href="#skills" class="item nav-link">
              Skills
            </a>
            <a href="#youtube" class="item nav-link">
              YouTube
            </a>
            <a href="#instructor" class="item nav-link">
              Udemy Instructor
            </a>
            <a href="#connect" class="item nav-link">
              Connect
            </a>
            <a href="#contact" class="item nav-link">
              Contact
            </a>
          </div>
        </div>
      </nav>

    </div>
  </div>

</header>
