<header class="site-header">

  <div class="wrapper">
    <nav class="ui container">
      <div class="ui large secondary menu">
        <div class="item">
          <div class="ui logo shape">
            <div class="sides">
              <div class="active ui side">
                <img src="{{site.url}}/assets/NK-Logo-Small.png" alt="Nick Kenens" class="ui image">
              </div>
            </div>
          </div>
        </div>
        <div class="right menu">
          <a href="#about" class="item">
            About
          </a>
          <a href="#skills" class="item">
            Skills
          </a>
          <a href="#references" class="item">
            References
          </a>
          <a href="#contact" class="item">
            Contact
          </a>
        </div>
      </div>
    </nav>

  </div>

</header>
